@import url(Section/mainheader.css);

.maincontainer__button-img--retour, 
.main__button-img {
    width: 68px;
    height: 64px;
    left: 65px;
    top: 50px;
    /* position:relative; */
    background: #ffffff;
    border-radius: 100px;
    /* outline: none; */
    border: none;
    cursor: pointer;
    /* transition: background .2s ease-in-out; */
}
.maincontainer__button-img--retour:hover{
    background-color: #D9D9D9;
}
.main__button-img:hover{
    background-color: #D9D9D9;
}
/* .main__button-img{
    width: 68px; 
    height: 63px; 
    left: 1398px; 
    top: 41px;
    position: absolute; 
    background: #ffffff; 
    border-radius: 99px;
    border: none;
} */
.maincontainer__option {
    padding: 0 60px;
    left: 0px;
    top: 59px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
a{
    text-decoration: none;
}
.maincontainer__div{
    width: 100%;
    height: 502px;
    top: 30px; 
    position: relative; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
}
h1{
    align-self: stretch; 
    text-align: center; 
    color: white; 
    font-size: 48px; font-family: Roboto; font-weight: 700; 
    letter-spacing: 0.96px; 
    word-wrap: break-word;
    bottom: 0px;
}
.div__buttons{
    display: flex;
    width: 100%; 
    height: 330px;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
    position: relative;
    top: 50px;
    gap: 15px;
    /* align-self: stretch; 
    width: 420px;
    height: 116px; 
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; */
}
.div__button{
    width: 513px; 
    height: 125px; 
    padding: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    /* top: 50px;
    bottom: 70px; */
    position: relative;
}
.div__buttons__level{
    width: 414px; 
    height: 116px;
    padding: auto;
    text-align: center; 
    justify-content: center;
    align-items: center;
    position: relative; 
    display: flex;
    background: #FFEEB6; 
    border-radius: 10px; border: 6px #EFBF14 solid;
    color: rgba(0, 0, 0, 0.78); 
    font-size: 40px; font-family: Roboto; font-weight: 700; 
    letter-spacing: 0.80px; 
    word-wrap: break-word;
}
.div__buttons__level:hover{
    width: 424px; 
    height: 126px;
    cursor: pointer;
    border-color: #FFEEB6;
    background: #fff;
    border-color: #fff;
    transform: translateX(-40px);
    transition: 0.4s ease-out;
}
.div__buttons__level:hover ~ .div__buttons__level {
    position: relative;
    left: 220px;
    transition: 0.4s ease-out;
}
.div__buttons__level2:hover{
    cursor: pointer;
    border-color: #FFEEB6;
    background: #fff;
    border-color: #fff;
    transform: translateX(40px);
    transition: 0.4s ease-out;
}


@media (max-width: 850px) {
    .maincontainer__button-img--retour,
    .main__button-img{
        width: 60px; 
        height: 55px;
        padding-top: 2px;
        transition: 0.3s ease-out;
    }
    .maincontainer__option {
        top: 30px;
        transition: 0.3s ease-out;
    }
}
@media (max-width: 550px) {
    .div__buttons__level{
        width: 314px; 
        height: 116px;
        padding: auto;
        transition: 0.3s ease-out;
    }
    .div__buttons__level:hover{
        width: 354px; 
        height: 126px;
        transition: 0.4s ease-out;
    }
    .div__buttons{
        display: flex;
        width: 100%; 
        height: 330px;
        padding-left: none;
        transition: 0.3s ease-out;
    }
    .div__button{
        width: 513px; 
        height: 125px; 
        padding: auto;
        margin-left: 120px;
        transition: 0.3s ease-out;
    }
}
@media (max-width: 416px) {
    .maincontainer__div{
        top: 60px;
    }
    .div__buttons__level:hover{
        transform: translateX(-20px);
        transition: 0.4s ease-out;
    }
}
